# **Python Basics**
**Values**

*   A value is the fundamental thing that a program manipulates
*   Values can be ‘Hello Python’, 1 , True
Values have types.

# **Variable**
1.   One of the most basic and powerful concepts is 
that of a variable.
2.   A variable assigns a name to a value.
Variables are nothing more than reserved memory locations that store values.
3. Python variables does not need explicit declaration to reserve memory. 
4.Unlike C/C++ and Java, variables can change types

In [1]:
message = 'Hello Python!'

In [2]:
n = 10

In [3]:
e = 2.71

In [4]:
print(message)

Hello Python!

In [5]:
print(message, 'n==', n, 'e==', e)

Hello Python! n== 10 e== 2.71

# **Modules**


1.   module is a file containing Python definitions and statements
2.   not all functionality available comes automatically when starting Python
1.   extra functionality can be added by importing modules
1.   objects in the module can be accessed  by prefixing them with the module name

In [6]:
import math

In [7]:
math.pow(2, 3)

8.0

In [8]:
import random

In [18]:
random.randint(1, 100)

10

In [1]:
from pathlib import Path

Comments Start with a `#`

In [19]:
# This is a comment

**Putting All things together**

---


Now we will write a program to calculate Simple Intrest

In [ ]:
rate = 10

In [ ]:
principle = 1000

In [ ]:
time = 3

In [76]:
intrest = (rate * principle * time)/100

In [77]:
print('Intrest is ', intrest)

Intrest is  200.0

# **Data Types**


### 1.   Numeric Types


*   Integer Types: 92, 12, 0, 1
*   Floats (Floating point numbers): 3.1415
*   Complex Numbers: a + b*i (composed of real and imaginary component, both of which are floats a + b*i)
*   Booleans: True/False are a subtype of integers (0 is false, 1 is true)

2.   Strings
*   ‘Hello Python’
*  'India'

3.  Sequence types:


*   Lists : [1,2,3,4,5]
*   Tuples: (1, 2)
*   Ranges:

# **Indentation**
1.  In Python, blocks of code are defined using indentation
1.  The indentation within the block needs to be consistent
1.  The first line with less indentation is outside of the block
1.  The first line with more indentation starts a nested block
1.  Often a colon appears at the start of a new block

In [26]:
x = 9
if x<10:
    print('x is less than 10')
    print('Hello')
print('Outside the If')

x is less than 10
Hello
Outside the If

# **Strings**

*   Strings are text values like ‘Hello Anaconda’
*   Strings can be enclosed in single quote ‘ ..’ or double quotes “…”

In [28]:
'spam eggs'

'spam eggs'

In [33]:
'doesn\'t'  # use \' to escape the single quote...

"doesn't"

In [31]:
"doesn't"  # ...or use double quotes instead

"doesn't"

In [34]:
print("""\
Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to
""")

Usage: thingy [OPTIONS]
     -h                        Display this usage message
     -H hostname               Hostname to connect to

In [35]:
3 * 'un' + 'ium'

'unununium'

Strings can be *indexed* (subscripted), with the first character having index 0.

In [36]:
 word = 'Python'

In [37]:
word[0]

'P'

In [38]:
word[5]

'n'

indices may also be negative numbers, to start counting from the right.

In [39]:
word[-1]  # last character

'n'

In [40]:
word[-2]  # second-last character

'o'

In addition to indexing, slicing is also supported. While indexing is used to obtain individual characters, slicing allows you to obtain substring:

In [41]:
 word[0:2]  # characters from position 0 (included) to 2 (excluded)

'Py'

In [42]:
word[2:5]  # characters from position 2 (included) to 5 (excluded)

'tho'

In [45]:
text = 'Put several strings within parentheses '+\
        'to have them joined together.'

In [46]:
text

'Put several strings within parentheses to have them joined together.'

# **Lists**
1.  ordered sequence of information, accessible by index
1.  a list is denoted by square brackets, [ ]
1.  a list contains usually homogenous elements 
1.  list elements can be changed so a list is mutable

In [ ]:
squares = [1, 4, 9, 16, 25]

In [ ]:
squares

In [ ]:
squares[0]

In [ ]:
squares[-1]

In [ ]:
squares[-3:]

In [ ]:
squares + [36, 49, 64, 81, 100]

In [ ]:
cubes = [1, 8, 27, 65, 125]
cubes

Unlike strings, which are immutable, lists are a mutable type, i.e. it is possible to change their content

In [ ]:
cubes[3] = 64
cubes

Assignment to slices is also possible, and this can even change the size of the list or clear it entirely

In [48]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']

In [49]:
letters[2:5] = ['C', 'D', 'E']
letters

['a', 'b', 'C', 'D', 'E', 'f', 'g']

In [50]:
letters[:] = []
letters

[]

# **Tuple**
1.  tuple consists of a number of values separated by commas
1.  cannot change element values, immutable
1.  tuples always enclosed in parenthesis  
1.  used to return more than one value from a function

In [51]:
t = 12345, 54321, 'hello!'

In [52]:
t[0]

12345

In [53]:
u = t, (1, 2, 3, 4, 5) # Tuples may be nested:

In [54]:
u

((12345, 54321, 'hello!'), (1, 2, 3, 4, 5))

In [ ]:
t[0] = 88888 # Tuples are immutable:

In [55]:
x, y, z = t
print(x)
print(y)
print(z)

12345
54321
hello!

# **Sets**
1.  A set is an unordered collection with no duplicate elements
1.  set objects also support mathematical operations like union, intersection, difference, and symmetric difference

In [57]:
basket = {'apple', 'orange', 'apple', 'pear', 'orange', 'banana'}

In [58]:
print(basket)# show that duplicates have been removed

{'banana', 'apple', 'pear', 'orange'}

In [59]:
'orange' in basket                 # fast membership testing

True

In [60]:
'crabgrass' in basket

False

In [61]:
a = set('abracadabra')
b = set('alacazam')

In [62]:
a - b

{'b', 'd', 'r'}

# **Dictionary**
1.  dictionary is a set of key:value pairs
1.  dictionaries are indexed by keys, which can be any immutable type
1.  dictionary stores a value with some key and extracts the value given the key

In [63]:
telephone = {'jack': 4098, 'sape': 4139,'alpha':1099,'beta':1000}
telephone

{'alpha': 1099, 'beta': 1000, 'jack': 4098, 'sape': 4139}

In [64]:
telephone['jack']

4098

In [65]:
telephone['king'] = 4127
telephone

{'alpha': 1099, 'beta': 1000, 'jack': 4098, 'king': 4127, 'sape': 4139}

In [66]:
del telephone['sape']

In [67]:
'king' in telephone

True

# **Control flow** 
Control flow is the concept of changing this order of code execution. Similar to the way you might use sale prices to decide which which car  to buy or seeing the colour of signal decide to start or stop.

In [79]:
traffic_light = 'green'
if traffic_light == 'green':
    print('Light is Green')
    print('Go Ahead ')
else:
    print('Light is Not Green')
    print(' Stop ')

Light is Green
 Go Ahead

In [80]:
traffic_light = 'red'
if traffic_light == 'green':
    print('Light is Green')
elif traffic_light=='yellow':
    print('Light is Yellow')
elif traffic_light=='red':
    print('Light is Red')
else:
    print('Unknown Traffic Light')

Light is Red

# **While Loop**
A while statement executes a block of code as long as a condition is `True`.This continues until the condition is `False`.

In [82]:
n = 0

In [83]:
while n<10:
    print('Value of n is',n)
    n=n+1

Value of n is 0
Value of n is 1
Value of n is 2
Value of n is 3
Value of n is 4
Value of n is 5
Value of n is 6
Value of n is 7
Value of n is 8
Value of n is 9

# **For statements**
Python’s for statement iterates over the items of any sequence.

In [84]:
words = ['cat', 'window', 'defenestrate']
for w in words:
    print(w,len(w))

cat 3
window 6
defenestrate 12

### To iterate over a sequence of numbers, the built-in function range() comes in handy.

In [ ]:
for i in range(5):
    print(i,end=',')

In [ ]:
for i in range(5,10):
    print(i,end=',')

In [85]:
for i in range(5,10,2):
    print(i,end=',')

5,7,9,

# **break  and continue Statements**
1.  break statement breaks out of innermost enclosing for or while loop.
1.  continue statement continues with the next iteration of the loop skipping remaining statements.

In [86]:
for i in range(5):
    if i==4:
        break
    print(i)

0
1
2
3

In [87]:
for i in range(5):
    if i==2:
        continue
    print(i)

0
1
3
4

# **Write and call/invoke a function**
If its find that  the same bits of code is reused over and over, you can create your own function and call that instead of         repeating the same code.

In [88]:
def check_odd_even(i):
    if i%2==0:
        print(i,'is even number')
    else:
        print(i,'is odd number')

In [89]:
check_odd_even(10)

10 is even number

In [90]:
check_odd_even(11)

11 is odd number

# **Default Value Argument**

In [91]:
def calc_intrest(principal,rates=5,duration=5):
    intrest=(principal*rates*duration)/100
    amount=intrest+principal
    print('Principal Amount=',principal)
    print('Rate=',rates)
    print('Duration=',duration)
    print('Total Amount=',amount)

In [92]:
calc_intrest(10)

Principal Amount= 10
Rate= 5
Duration= 5
Total Amount= 12.5

In [93]:
calc_intrest(10,rates=10)

Principal Amount= 10
Rate= 10
Duration= 5
Total Amount= 15.0

In [94]:
calc_intrest(10,rates=10,duration=20)

Principal Amount= 10
Rate= 10
Duration= 20
Total Amount= 30.0

# Reading File

In [ ]:
f = open('workfile.txt','r')
lines=f.read() # Entire file is read 
print(lines)
f.close()

In [ ]:
f = open('workfile.txt','r')
for line in f:
    print(line,end='')
f.close()

In [ ]:
with open('workfile.txt','r')as f:
    for line in f:
        print(line,end='')

# Writing to file

In [97]:
value = ('the answer is ', 42)
with open('workfile2.txt','w') as f:
    s=str(value)
    f.write(s)